main {
    margin-top: 1rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
}

header {
    text-align: center;
}

p {
    cursor: pointer;
}

.search {
    margin-right: 2rem;
}

ul {
    list-style-type: none;
}

.stretch {
    width: 100%;
}

.margin {
    margin: 0.5rem 0;
}

.b {
    border: 3px solid purple;
}