main {
    margin-top: 1rem;
    margin-right: 18rem;
    margin-bottom: 1rem;
    margin-left: 18rem;
}

header {
    text-align: center;
}

.search {
    margin-right: 2rem;
}

ul {
    list-style-type: none;
}