main {
    margin-top: 1rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
}

header {
    text-align: center;
}

p {
    font-size: 1.5rem;
}

.uv, #uvBox {
    font-size: 1.5rem;
}

img {
    width:35% ;
}

ul {
    list-style-type: none;
}

h1 {
    background-color: #94B49F;
}

#icon {
    width: 10%;
}

.search {
    margin-right: 2rem;
}

.stretch {
    width: 100%;
}

.btn {
    cursor: pointer;
}

.margin {
    margin: 0.5rem 0;
}

.b {
    border: 3px solid purple;
}

.result {
    background-color: #CEE5D0;
}

.background {
    background-color: #FCF8E8;
    margin-right: 5px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.city {
    font-weight: bold;
    font-size: 2rem;;
}

.btn-warning {
    color: #000;
    background-color: #E9DAC1;
    border-color: #E9DAC1;
}